# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java

**Objectives:**
- List commonly used libraries by Data Scientists
- Tabulate development environment open source tools used in data science
- List examples of evaluating arithmetic expressions in Python
- Convert minutes into hours in python

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy
4. Seaborn
5. SciPy
6. dplyr
7. TensorFlow
8. ggplot2


| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Visual Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python
- 3 + 5
- 9 - 2
- 7 * 6
- 8 / 4

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Evans Ameyaw